<header class="home-section-feature">
    <div class="home-feature_background-image-wrapper"><img src="../../assets/img/Spinning-Reel-Bench.jpg"
           loading="lazy"
           srcset="../../assets/img/Spinning-Reel-Bench-p-500.jpg 500w, ../../assets/img/Spinning-Reel-Bench-p-800.jpg 800w, ../../assets/img/Spinning-Reel-Bench-p-1080.jpg 1080w, ../../assets/img/Spinning-Reel-Bench-p-1600.jpg 1600w, ../../assets/img/Spinning-Reel-Bench.jpg 1920w"
           alt="A bench on the sand dunes overlooking the beach and ocean."
           sizes="100vw"
           class="home-feature_background-image"></div>
  </header>