<div class="container-large">
    <div class="padding-vertical padding-xhuge">
      <div class="home-accomodation_component">
        <div class="home-accomodation_list-wrapper w-dyn-list">
          <div role="list"
               class="home-accomodation_list w-dyn-items">
            <div role="listitem"
                 class="home-accomodation_item w-dyn-item">
              <div class="home-accomodation_item-wrapper">
                <div class="home-accomodation_image-wrapper">
                  <img src=""
                       loading="lazy"
                       alt=""
                       class="home-accomodation_image"></div>
                <div class="home-accomodation_hover-wrapper">
                  <div class="accomodation-description-wrapper">
                    <div class="margin-bottom margin-xxsmall">
                      <h3 class="text-color-white"></h3>
                    </div>
                    <div class="text-color-white"></div>
                  </div>
                  <a href="#"
                     class="button-link with-icon is-alternate w-inline-block">
                    <div>view</div><img src="../../assets/img/Chevron-Right-White.svg"
                         loading="lazy"
                         alt=""
                         class="icon-xxsmall">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
        <div class="home-accomodation_options-wrapper">
          <div class="margin-bottom margin-medium">
            <h2>Accomodation options</h2>
          </div>
          <div class="home-accomodation_options-list-wrapper w-dyn-list">
            <div role="list"
                 class="home-accomodation_options-list w-dyn-items">
              <div role="listitem"
                   class="home-accomodation_options-item w-dyn-item">
                <div data-w-id="2a7e2d12-809b-5f47-024f-d488e7f44624"
                     style="opacity:0"
                     class="home-accomodation_options-item-wrapper">
                  <div class="home-accomodation_options-item-image-wrapper"><img src=""
                         loading="lazy"
                         alt=""
                         class="home-accomodation_options-item-image"></div>
                  <div class="home-accomodation_options-item-description-wrapper">
                    <div class="margin-bottom margin-xxsmall">
                      <h4></h4>
                    </div>
                    <a href="#"
                       class="button-link with-icon w-inline-block">
                      <div>view</div><img src="../../assets/img/Chevron-Right.svg"
                           loading="lazy"
                           alt=""
                           class="icon-xxsmall">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>