<app-header-bar-page></app-header-bar-page>
<section class="accommodation-section-type">
  <div class="page-padding">
    <div class="container-large">
      <div class="padding-vertical padding-xhuge">
        <div class="accommodation-type_list-wrapper w-dyn-list">
          <div role="list"
               class="accommodation-type_list w-dyn-items">
            <div role="listitem"
                 class="accommodation-type_item w-dyn-item">
              <div id="w-node-_43abb926-5691-df03-47bd-b19eaccea22c-f5a57b6c"
                   class="accommodation-type_content">
                <div class="margin-bottom margin-small">
                  <h2></h2>
                </div>
                <p class="text-size-medium"></p>
                <div class="margin-top margin-medium">
                  <div class="button-row">
                    <a routerLink="/home"
                       class="button w-button">Explore</a>
                  </div>
                </div>
              </div>
              <div id="w-node-_8ec8cc79-23a6-2773-bdb1-2b112c6612dd-f5a57b6c"
                   class="accommodation-type_image-wrapper"><img src=""
                     loading="lazy"
                     alt=""
                     class="accommodation-type_image"></div>
            </div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
